<a href="https://colab.research.google.com/github/stephanyresque/Ciencia-de-dados-2/blob/main/05_09_24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
vendas = (120, 130, 150, 140, 135)

In [2]:
venda_total = vendas[1] + vendas[2]
venda_total

280

In [3]:
funcionarios = ["Ana", "Marcos", "Felipe", "José", "Mariana"]
funcionarios_escolhidos = funcionarios[1:4]
funcionarios_escolhidos
#

['Marcos', 'Felipe', 'José']

In [4]:
pares = [("Ana", "Vendas"), ("Luís", "TI"), ("Clara", "RH")]
dicionario = dict(pares)
dicionario

{'Ana': 'Vendas', 'Luís': 'TI', 'Clara': 'RH'}

In [5]:
emails = ["contato1@empresa.com", "contato2@empresa.com"]

In [6]:
emails.append('novo.contato@empresa.com')
emails

['contato1@empresa.com', 'contato2@empresa.com', 'novo.contato@empresa.com']

In [7]:
emails.remove('contato2@empresa.com')
emails

['contato1@empresa.com', 'novo.contato@empresa.com']

In [8]:
itens_vendidos = ["caneta", "lápis", "caneta", "borracha", "lápis", "caneta"]

In [13]:
itens_vendidos.count('caneta'), itens_vendidos.count('lápis'), itens_vendidos.count('borracha')

(3, 2, 1)

In [15]:
dic = {
    'caneta': itens_vendidos.count('caneta'),
    'lápis': itens_vendidos.count('lápis'),
    'borracha': itens_vendidos.count('borracha')
}

dic

{'caneta': 3, 'lápis': 2, 'borracha': 1}

In [16]:
dados = ["Ana", 25, "Luís", 30, "Clara", 28]

In [19]:
dados_nomes = dados[::2]
dados_idades = dados[1::2]
#dados_nomes, dados_idades

combinacao = zip(dados_nomes, dados_idades)
print(list(combinacao))

[('Ana', 25), ('Luís', 30), ('Clara', 28)]

In [20]:
departamento_a = ["Ana", "Luís", "Clara"]
departamento_b = ["Marcos", "Jonas", "Mariana", "Ana"]

In [21]:
funcionarios_departametos = departamento_a + departamento_b
funcionarios_departametos

['Ana', 'Luís', 'Clara', 'Marcos', 'Jonas', 'Mariana', 'Ana']

In [22]:
funcionarios_departametos = set(funcionarios_departametos)
funcionarios_departametos

{'Ana', 'Clara', 'Jonas', 'Luís', 'Marcos', 'Mariana'}