<a href="https://colab.research.google.com/github/stephanyresque/Ciencia-de-dados-2/blob/main/11_09_24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#função enumerate() ->enumerar itens de uma sequência iterável
#enumerate(iterável, start=0)

In [2]:
tarefas = ['limpar', 'estudar', 'exercitar']

for i in range(len(tarefas)):
    print(i, tarefas[i])

0 limpar
1 estudar
2 exercitar

In [4]:
for i, tarefa in enumerate(tarefas):
  print(i, tarefa)

0 limpar
1 estudar
2 exercitar

In [5]:
for i, tarefa in enumerate(tarefas, start=1):
  print(i, tarefa)

1 limpar
2 estudar
3 exercitar

In [6]:
palavra = 'python'

for i, letra in enumerate(palavra):
  print(i, letra)

0 p
1 y
2 t
3 h
4 o
5 n

In [7]:
list(enumerate(palavra))

[(0, 'p'), (1, 'y'), (2, 't'), (3, 'h'), (4, 'o'), (5, 'n')]

In [8]:
for tupla in enumerate(palavra):
  print(tupla)

(0, 'p')
(1, 'y')
(2, 't')
(3, 'h')
(4, 'o')
(5, 'n')

In [9]:
grid_largada = ['Alonso', 'Jp', 'Alckin', 'Hamilton']

for posicao, piloto in enumerate(grid_largada, start=1):
  print(f'{posicao}º lugar: {piloto}')

1º lugar: Alonso
2º lugar: Jp
3º lugar: Alckin
4º lugar: Hamilton

In [10]:
#função zip() -> para combinar sequências de dados
#zip(iterável1, iterável2, iterável3, ...)
#retorna tuplas, e podemos "zipar" listas, tuplas...

In [11]:
nomes = ['Ana', 'Júlia', 'Stephany', 'Nathália']
notas = [10, 5, 9, 10]

for i in range(len(nomes)):
  print(nomes[i], notas[i])

Ana 10
Júlia 5
Stephany 9
Nathália 10

In [12]:
for nome, nota in zip(nomes,notas):
  print(nome, nota)

Ana 10
Júlia 5
Stephany 9
Nathália 10

In [13]:
zip(nomes,notas)

In [14]:
vendas_diarias = [1000, 34556, 12314]

dias = ['Segunda', 'Quarta', 'Sexta']

In [17]:
for venda, dia in zip(vendas_diarias, dias):
  print(f'{dia}: R${venda:.2f}')

Segunda: R$1000.00
Quarta: R$34556.00
Sexta: R$12314.00

In [16]:
for tupla in zip(vendas_diarias, dias):
  print(tupla)

(1000, 'Segunda')
(34556, 'Quarta')
(12314, 'Sexta')

In [18]:
for venda, dia in zip(vendas_diarias, dias):
  if venda > 3000:
    print(f'{dia}: R${venda:.2f}')

Quarta: R$34556.00
Sexta: R$12314.00

In [20]:
#comprehencions -> uma forma consisa de escrever loops
#list comprehencions - criar novas listas
#dictionary comprehencions - criar novos dicionários

In [23]:
#[expressão for item in iterável if condição]

vendas_diarias = [1000, 3455, 1231, 5000, 3500]

bonificacao = 0.1

bonus_diario = []

for venda in vendas_diarias:
  bonus_diario.append(venda * bonificacao)

print(bonus_diario)

[100.0, 345.5, 123.10000000000001, 500.0, 350.0]

In [24]:
bonus_diario_comprehension = [venda * bonificacao for venda in vendas_diarias]
bonus_diario_comprehension

[100.0, 345.5, 123.10000000000001, 500.0, 350.0]

In [25]:
bonus_diario_comprehension = [venda * bonificacao for venda in vendas_diarias if venda >= 3000]
bonus_diario_comprehension

[345.5, 500.0, 350.0]

In [27]:
#{chave: valor for item in itrável if condição}

vendas_por_produto = {
    'iphone': 15,
    'samsung': 12,
    'motorola': 13,
    'xiomi': 10,
}

precos = {
    'iphone': 500,
    'samsung': 400,
    'motorola': 300,
    'xiomi': 200,
}

In [28]:
total_vendas = {}

for produto in vendas_por_produto:
  total_vendas[produto] = vendas_por_produto[produto] * precos[produto]

total_vendas

{'iphone': 7500, 'samsung': 4800, 'motorola': 3900, 'xiomi': 2000}

In [29]:
total_vendas = {
    produto: vendas_por_produto[produto] * precos[produto] for produto in vendas_por_produto
    }
total_vendas

{'iphone': 7500, 'samsung': 4800, 'motorola': 3900, 'xiomi': 2000}

In [31]:
meta = 3500
total_vendas = {
    produto: vendas_por_produto[produto] * precos[produto] for produto in vendas_por_produto if vendas_por_produto[produto] * precos[produto] > meta
    }
total_vendas

{'iphone': 7500, 'samsung': 4800, 'motorola': 3900}