In [1]:
import pandas as pd
import numpy as np

DATA = 'C:\\Users\\steph\\OneDrive\\Documentos\\MeusProjetos\\Ciencia-de-dados\\dados_hash\\carrots.csv'

df = pd.read_csv(DATA)

df.head()

   carrots
0     45.0
1     44.5
2     44.0
3     45.0
4     46.5

In [ ]:
df.tail()

    carrots
15     46.2
16     44.7
17     45.6
18     46.3
19     44.9

In [3]:
df.mode()

   carrots
0     45.0

In [4]:
df.value_counts()

carrots
45.0       4
44.5       2
44.9       2
46.2       2
44.0       1
44.7       1
44.8       1
45.4       1
45.6       1
45.7       1
45.8       1
46.0       1
46.3       1
46.5       1
Name: count, dtype: int64

In [5]:
df.mean()

carrots    45.3
dtype: float64

In [6]:
df.describe()

         carrots
count  20.000000
mean   45.300000
std     0.700376
min    44.000000
25%    44.875000
50%    45.000000
75%    45.850000
max    46.500000

In [7]:
df.median()

carrots    45.0
dtype: float64