<a href="https://colab.research.google.com/github/stephanyresque/Ciencia-de-dados-2/blob/main/10_09_24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Estruturas de repetição

## Loop for

OBS: "FOR" == "PARA"

In [1]:
numeros = [1,2,3,4,5]
for numero in numeros:
  print(numero)

1
2
3
4
5

In [2]:
palavra = 'sorvete'
for letra in palavra:
  print(letra)

s
o
r
v
e
t
e

In [3]:
#range() -> gera uma sequência de números.
for i in range(5):
  print(i)

0
1
2
3
4

In [6]:
meu_dicionario = {
    'a':1,
    'b':2,
    'c':3
}

for chave in meu_dicionario: #por padrão sempre pega a chave primeiro
  print(chave, meu_dicionario[chave])

a 1
b 2
c 3

In [8]:
vendas = [1000, 450, 300, 600]

for venda in vendas:
  print(venda)

1000
450
300
600

In [9]:
vendas = (1000, 450, 300, 600)

for venda in vendas:
  print(f"R${venda}")

R$1000
R$450
R$300
R$600

In [10]:
for letra in 'python':
  print(letra.upper())

P
Y
T
H
O
N

In [11]:
pessoas = {
    "bill": {"nome": "Bill Gates", "idade": 68, "empresa": "Microsoft"},
    "elon": {"nome": "Elon Musk", "idade": 52, "empresa": "X"},
    "mark": {"nome": "Mark Zuckerberg", "idade": 39, "empresa": "Facebook"},
}

In [12]:
for pessoa in pessoas:
  print(pessoa)

bill
elon
mark

In [13]:
#todo dicionário tem o método items()
#ele retorna uma lista de tuplas, onde cada tupla é um par chave-valor

pessoas.items()

dict_items([('bill', {'nome': 'Bill Gates', 'idade': 68, 'empresa': 'Microsoft'}), ('elon', {'nome': 'Elon Musk', 'idade': 52, 'empresa': 'X'}), ('mark', {'nome': 'Mark Zuckerberg', 'idade': 39, 'empresa': 'Facebook'})])

In [14]:
for pessoa in pessoas.items():
  print(pessoa)

('bill', {'nome': 'Bill Gates', 'idade': 68, 'empresa': 'Microsoft'})
('elon', {'nome': 'Elon Musk', 'idade': 52, 'empresa': 'X'})
('mark', {'nome': 'Mark Zuckerberg', 'idade': 39, 'empresa': 'Facebook'})

In [15]:
for chave, valor in pessoas.items():
  print(chave, valor)

bill {'nome': 'Bill Gates', 'idade': 68, 'empresa': 'Microsoft'}
elon {'nome': 'Elon Musk', 'idade': 52, 'empresa': 'X'}
mark {'nome': 'Mark Zuckerberg', 'idade': 39, 'empresa': 'Facebook'}

In [16]:
for chave, valor in pessoas.items():
  print(chave, valor['empresa'])

bill Microsoft
elon X
mark Facebook

In [17]:
for chave, valor in pessoas.items():
  print(valor['nome'], valor['empresa'])

Bill Gates Microsoft
Elon Musk X
Mark Zuckerberg Facebook

In [18]:
for chave, valor in pessoas.items():#chave só foi usado para o unpacking
  print(f"o {valor['nome']} trabalha na {valor['empresa']}")

o Bill Gates trabalha na Microsoft
o Elon Musk trabalha na X
o Mark Zuckerberg trabalha na Facebook

In [19]:
for _, valor in pessoas.items():#para indicar que foi feito um unpacking
  print(f"o {valor['nome']} trabalha na {valor['empresa']}")

o Bill Gates trabalha na Microsoft
o Elon Musk trabalha na X
o Mark Zuckerberg trabalha na Facebook

In [20]:
#a função range() retorna uma sequência de inteiros!
#posso indicar, além do início, o fim e o passo como parâmetros

for i in range(10): #quantos números serão gerados
  print(i)

0
1
2
3
4
5
6
7
8
9

In [21]:
for i in range(1, 10):#sempre vai até n-1
  print(i)

1
2
3
4
5
6
7
8
9

In [22]:
for i in range(1, 10, 2):
  print(i)

1
3
5
7
9

In [23]:
for i in range(6):
  print(f"Estamos no número {i}")

Estamos no número 0
Estamos no número 1
Estamos no número 2
Estamos no número 3
Estamos no número 4
Estamos no número 5

In [24]:
range(5) #ele não cria diretamente, o que facilita a memória do computador

range(0, 5)

In [25]:
list(range(5))

[0, 1, 2, 3, 4]

In [26]:
tuple(range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [27]:
print('Tabuada de 2!')

for i in range(11):
  print(f'2 x {i} = {2*i}')

Tabuada de 2!
2 x 0 = 0
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [28]:
palavra = 'python'

for indice in range(len(palavra)):
  print(indice, palavra[indice])

0 p
1 y
2 t
3 h
4 o
5 n