# Exercício 1

Um professor universitário ministrou aulas online em vez de aulas presenciais devido ao Covid-19. Posteriormente, ele carregou as aulas gravadas na nuvem para os alunos que seguiram o curso de forma assíncrona (aqueles que não assistiram à aula, mas assistiram às gravações posteriormente). No entanto, ele acredita que os alunos que assistem à aula no horário da aula e participam do processo são mais bem-sucedidos. Portanto, ele registrou as notas médias dos alunos no final do semestre. Os dados estão abaixo.

Conduza o teste de hipótese para verificar se a crença do professor é estatisticamente significativa, usando um nível de significância de 0,05 para avaliar as hipóteses nula e alternativa. Antes de fazer o teste de hipótese, verifique as suposições relacionadas.

In [3]:
import pandas as pd

DADOS_NOTAS_COVID = "./dados/notas_covid.csv"

df_notas_covid = pd.read_csv(DADOS_NOTAS_COVID)

df_notas_covid

    sync  async
0   94.0   77.1
1   84.9   71.7
2   82.6   91.0
3   69.5   72.2
4   80.1   74.8
5   79.6   85.1
6   81.4   67.6
7   77.8   69.9
8   81.7   75.3
9   78.8   71.7
10  73.2   65.7
11  87.9   72.6
12  87.9   71.5
13  93.5   78.2
14  82.3    NaN
15  79.3    NaN
16  78.3    NaN
17  71.6    NaN
18  88.6    NaN
19  74.6    NaN
20  74.1    NaN
21  80.6    NaN

# Exercício 2

Um pediatra quer ver o efeito do consumo de fórmula no ganho médio de peso mensal (em grama) de bebês. Por esse motivo, ela coletou dados de três grupos diferentes. O primeiro grupo é composto por crianças alimentadas exclusivamente com leite materno, o segundo grupo é composto por crianças alimentadas apenas com fórmula e o último grupo é composto por crianças alimentadas com fórmula e leite materno. Esses dados estão abaixo.

De acordo com essas informações, conduza o teste de hipótese para verificar se há diferença entre o ganho médio mensal desses três grupos usando um nível de significância de 0,05. Se houver diferença significativa, realize uma análise adicional para descobrir o que causou a diferença. Antes de fazer o teste de hipótese, verifique as suposições relacionadas.

In [5]:
import pandas as pd

DADOS_LEITE_FORMULA = "./dados/leite_formula_ambos.csv"

df_leite_formula = pd.read_csv(DADOS_LEITE_FORMULA)
df_leite_formula

    apenas_leite  apenas_formula  ambos
0          794.1           898.8  976.4
1          716.9           881.2  656.4
2          993.0           940.2  861.2
3          724.7           966.2  706.8
4          760.9           957.5  718.5
5          908.2          1061.7  717.1
6          659.3          1046.2  759.8
7          690.8           980.4  894.6
8          768.7           895.6  867.6
9          717.3           919.7  805.6
10         630.7          1074.1  765.4
11         729.5           952.5  800.3
12         714.1           796.3  789.9
13         810.3           859.6  875.3
14         583.5           871.1  740.0
15         679.9          1047.5  799.4
16         865.1           919.1  790.3
17           NaN          1160.5  795.2
18           NaN           996.9  823.6
19           NaN             NaN  818.7
20           NaN             NaN  926.8
21           NaN             NaN  791.7
22           NaN             NaN  948.3

# Exercício 3


Um especialista em recursos humanos que trabalha em uma empresa de tecnologia está interessado no tempo de trabalho excessivo de diferentes equipes. Para investigar se há diferença entre o tempo extra da equipe de desenvolvimento de software e da equipe de teste, ela selecionou 17 funcionários aleatoriamente em cada uma das duas equipes e registrou seu tempo médio de trabalho extra semanal em termos de hora. Os dados estão abaixo.


De acordo com essas informações, conduza o teste de hipótese para verificar se há diferença entre o tempo extra de trabalho das duas equipes usando um nível de significância de 0,05. Antes de fazer o teste de hipótese, verifique as suposições relacionadas.

In [7]:
import pandas as pd

DADOS_TEMPOS_TIMES = "./dados/tempos_times.csv"

df_tempos_times = pd.read_csv(DADOS_TEMPOS_TIMES)
df_tempos_times

    test_team  developer_team
0         6.2             2.3
1         7.1             2.1
2         1.5             1.4
3         2.0             2.0
4         3.0             8.7
5         2.0             2.2
6         1.5             3.1
7         6.1             4.2
8         2.4             3.6
9         2.3             2.5
10       12.4             3.1
11        1.8             6.2
12        5.3            12.1
13        3.1             3.9
14        9.4             2.2
15        2.3             1.2
16        4.1             3.4

# Exercício 4


Uma empresa de comércio eletrônico anuncia regularmente no YouTube, Instagram e Facebook para suas campanhas. No entanto, o novo gerente estava curioso para saber se havia alguma diferença entre o número de clientes atraídos por essas plataformas. Portanto, ela começou a usar o Adjust, um aplicativo que permite descobrir de onde vêm seus usuários. Os números diários relatados pelo Adjust para cada plataforma estão abaixo.

De acordo com essas informações, conduza o teste de hipótese para verificar se há diferença entre a aquisição média de clientes dessas três plataformas usando um nível de significância de 0,05. Se houver diferença significativa, realize uma análise adicional para descobrir o que causou a diferença. Antes de fazer o teste de hipótese, verifique as suposições relacionadas.

In [10]:
import pandas as pd

DADOS_ANUNCIOS = "./dados/anuncios_redes_sociais.csv"

df_anuncios = pd.read_csv(DADOS_ANUNCIOS)
df_anuncios

    youtube  instagram  facebook
0      1913       2305      2133
1      1879       2355      2522
2      1939       2203      2124
3      2146       2231      2551
4      2040       2185      2293
5      2127       2420      2367
6      2122       2386      2460
7      2156       2410      2311
8      2036       2340      2178
9      1974       2349      2113
10     1956       2241      2048
11     2146       2396      2443
12     2151       2244      2265
13     1943       2267      2095
14     2125       2281      2528

# Exercício 5

O Centro de Saúde de uma universidade diagnosticou dezoito estudantes com colesterol alto no semestre anterior. O pessoal de saúde informou a esses pacientes sobre os perigos do colesterol alto e prescreveu um programa de dieta. Um mês depois, os pacientes vieram para controle, e seu nível de colesterol foi reexaminado. Teste se há diferença nos níveis de colesterol dos pacientes.

De acordo com essas informações, conduza o teste de hipótese para verificar se há uma diminuição nos níveis de colesterol dos pacientes após a dieta, usando um nível de significância de 0,05. Antes de fazer o teste de hipótese, verifique as suposições relacionadas. Comente sobre os resultados.

In [12]:
import pandas as pd

DADOS_COLESTEROL = "./dados/dieta_colesterol.csv"

df_colesterol = pd.read_csv(DADOS_COLESTEROL)
df_colesterol

    antes_dieta  depois_dieta
0           224           198
1           235           195
2           223           213
3           253           190
4           253           246
5           224           206
6           244           225
7           225           199
8           259           214
9           220           210
10          242           188
11          240           205
12          239           200
13          229           220
14          276           190
15          254           199
16          237           191
17          227           218

# Exercício 6


Uma gestora de um fundo de investimentos queria investir em uma startup que fornece compressão de dados sem perda de qualidade, mas existem dois concorrentes: PiedPiper e EndFrame. Inicialmente, ela acreditava que o desempenho do EndFrame poderia ser melhor, mas ainda queria testá-lo antes do investimento. Em seguida, ela deu os mesmos arquivos para cada empresa comprimir e registrou suas pontuações de desempenho. Os dados estão abaixo.

De acordo com essas informações, conduza o teste de hipótese relacionado usando um nível de significância de 0,05. Antes de fazer o teste de hipótese, verifique as suposições relacionadas. Comente sobre os resultados.

In [16]:
import pandas as pd

DADOS_COMPRESSAO = "./dados/tempos_compressao.csv"

df_tempos_compressao = pd.read_csv(DADOS_COMPRESSAO)
df_tempos_compressao

    piedpiper  endframe
0        4.57      4.27
1        4.55      3.93
2        5.47      4.01
3        4.67      4.07
4        5.41      3.87
5        5.55      4.00
6        5.53      4.00
7        5.63      3.72
8        3.86      4.16
9        3.97      4.10
10       5.44      3.90
11       3.93      3.97
12       5.31      4.08
13       5.17      3.96
14       4.39      3.96
15       4.28      3.77
16       5.25      4.09

# Exercício 7

Uma pesquisadora estava curiosa para saber se há diferença entre a metodologia que ela desenvolveu para detectar a concentração de uma droga em amostras de sangue, C, e os métodos de linha de base A e B em termos de desempenho. Portanto, ela decidiu projetar diferentes experimentos e registrou a precisão alcançada por cada método. A tabela abaixo mostra a precisão alcançada nos conjuntos de teste por cada método. Observe que os mesmos conjuntos de treinamento e teste foram usados para cada método.

De acordo com essas informações, conduza o teste de hipótese para verificar se há diferença entre o desempenho dos métodos usando um nível de significância de 0,05. Se houver diferença significativa, realize uma análise adicional para descobrir o que causou a diferença. Antes de fazer o teste de hipótese, verifique as suposições relacionadas. Comente sobre os resultados.

In [17]:
import pandas as pd

DADOS_METODOS = "./dados/metodos_deteccao_sangue.csv"

df_metodos = pd.read_csv(DADOS_METODOS)
df_metodos

   metodo_A  metodo_B  metodo_C
0      89.8      90.0      91.5
1      89.9      90.1      90.7
2      88.6      88.8      90.3
3      88.7      88.9      90.4
4      89.6      89.9      90.2
5      89.7      90.0      90.3
6      89.2      89.0      90.2
7      89.3      89.2      90.3

# Exercício 8

Um analista de uma empresa de investimentos financeiros está curioso sobre a relação entre gênero e apetite por risco. Uma amostra aleatória foi retirada do banco de dados com 660 clientes. Os clientes da amostra foram classificados de acordo com seu gênero e seu apetite por risco. O resultado é dado na tabela a seguir.

Gênero/Risco |	Muito Baixo 	| Baixo |	Médio | 	Alto | 	Muito Alto | 	Total
--- | --- | --- | --- | --- | --- | ---
Feminino |  53 	| 23 | 30 |	36 |	88 |	230
Masculino 	| 71 	| 48 |	51 	| 57 	| 203 	| 430
Total 	| 124 	| 71 | 	81 |	93 |	291 |	660

Teste a hipótese de que o apetite por risco dos clientes nesta empresa é independente de seu gênero. Use **α = 0,01**.

In [23]:
import pandas as pd

DADOS_GENEROS_RISCO = "./dados/risco_genero.csv"

df_risco = pd.read_csv(DADOS_GENEROS_RISCO, index_col=0)
df_risco

           muito_baixo  baixo  medio  alto  muito_alto
feminino            53     23     30    36          88
masculino           71     48     51    57         203